body{
  margin: 0;
  color: #757575;
  font-family: arial, sans-serif;
}
#app {
  width: 100%;
}

#logo {
  display: inline-block;
  padding: 0px 12px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 2px;
  color: #757575;
  font-family: arial, sans-serif;
}
.button {
  display: inline-block;
  background: black;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-family: arial, sans-serif;
}

.project {
  font-size: 14px;
  margin-bottom: 3px;
}
.stop{
  display: inline-block;
  /* padding: 8px 4px; */
  font-weight: 700;
  font-size: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 20%;
  color: #757575;
}

.buttonSide {
  display: inline-block;
  background-image: url('https://i.imgur.com/6KwLDHw.png');
  background-size: cover;
  padding: 8px 12px;
  border: none;
  outline: none;
  width: 180px;
  height: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  font-family: arial, sans-serif;
  text-align: left;
}

#category0 , #category5 {
  background-image: url("https://i.imgur.com/KRjggRu.png");
  background-size: cover;
}

#category1 , #category6 {
  background-image: url("https://i.imgur.com/3vo7zqx.png");
  background-size: cover;
}

#category2 , #category7 {
  background-image: url("https://i.imgur.com/k5DUUao.png");
  background-size: cover;
}

#category3 {
  background-image: url("https://i.imgur.com/mdH89Aq.png");
  background-size: cover;
}

#category4 {
  background-image: url("https://i.imgur.com/TncN9MS.png");
  background-size: cover;
}

.project{
  display: flex;
  justify-content: space-between;
}

#timer{
  /* background-image: url("https://i.imgur.com/oc8YMDa.png");
  background-size: cover; */
  border: 5px solid gray;
  width: 200px;
  border-radius: 20%;
  /* height: 200px; */
  margin-top: 60px;
  padding: 10px;
  font-size: 10px;
}
.mainSection {
  margin-top: -300px;
  max-width: 1200px;
}
#sideBar{
  margin-top: 30px;
  height: 100%;
  width: 160px;
  position: fixed;
  color: grey;
} 
#graf{
  width: 100%;
  background-color: white;
  margin: 0;
}

#clock{
  border: 5px solid gray;
  width: 130px;
  padding: 5px;
  border-radius: 20%;
  font-size: 30px;
  text-align: center;
}
#intrack{
  color: black;
}
.time{
  color: black;
}

.cardsContainer{
  display: grid;
  margin-left: 170px;
  margin-top: 300px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.categoryCard {
  width: 240px;
  height: 240px;
  padding: 70px;
}

.button:hover {
  border: 1px solid #c6c6c6;
  color: #222;
  cursor: default;
}

#nav {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
}

#log-page{
  background-color: #f8f8f8;
}

.about{
  position: absolute;
  width: 500px;
  height: 500px;
  margin: -100px -450px;
}

#log-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px; 
  margin: auto;
}

#form {
  margin: auto;
  margin-top: 10%;
  width: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color:white;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  text-align: center;
}

#no-log-in{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  width: 300px;
}

#sign-up {
  margin-top: 0;
  padding: 2px;
  background-color: white; 
}

#forgot{
  align-self: center;
  margin-right: 10px;
}


#form-sign-up{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  margin-top: -100px;
}

#form-log-in{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.info, #log-in, #password{
  margin: 5px;
  width: 240px;
  height: 30px;
}

#site-name-log{
  font-size: 35px;
  line-height: 1;
}

header{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 900px;
  margin: auto;
}

.site-name{
  font-size: 20px;
}
input{
  width: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: center;
  height: 30px;
  resize: none;
}

#user-memories{
  border-collapse: separate;
  border-spacing: 30px 0;
  text-align: center;
}

#user-numbers {
  border-collapse: separate;
  border-spacing: 190px 0;
}

.media{
  margin-left: 157px;
  max-width: 900px;
}