.button {
  display: inline-block;
  background: #f2f2f2;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-family: arial, sans-serif;
}

.button:hover {
  border: 1px solid #c6c6c6;
  color: #222;
  cursor: default;
}

.navBar {
  background-color: black;
  text-decoration: underline;
  margin: 15px 5px;
  float: right;
  margin-right: 15px;
  opacity: .75;
  opacity: 1;
  cursor: default;
}

#log-page{
  background-color: #f8f8f8;
}

.about{
  position: absolute;
  width: 500px;
  height: 500px;
  margin: -100px -450px;
}

#log-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px; 
  margin: auto;
}

#form {
  width: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color:white;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  text-align: center;
}

#form-sign-up{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  margin-top: -100px;
}

#form-log-in{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.info, #log-in{
  margin: 5px;
  width: 240px;
  height: 30px;
}

#site-name-log{
  font-size: 35px;
  line-height: 1;
}

header{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 900px;
  margin: auto;
}

.site-name{
  font-size: 20px;
}
input{
  width: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: center;
  height: 30px;
  resize: none;
}

body{
  font-size: 15px;
  max-width: 900px;
  margin: auto;
}


#user-memories{
  border-collapse: separate;
  border-spacing: 30px 0;
  text-align: center;
}

img.memories{
  border-radius: 50%; 
  width: 75px;
  height: 75px;
}

#user-numbers {
  border-collapse: separate;
  border-spacing: 190px 0;
}

.media{
  margin-left: 157px;
  max-width: 900px;
}

img.post{ 
  width: 300px;
  height: 300px;
}